#titulo1{
    text-align: center;
    color: cadetblue;
    font-family: fantasy;
    
}
#titulo{
    text-align: center;
    color: cadetblue;
    font-family: fantasy;
}
#texto{
    text-align: center;
    font-family: serif;
}